.modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.modal{
    position: relative;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    background-color: #ffffff;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    flex-direction:row;
}
.active{
    display: block;
}
.text{
    min-width: 184px;
    height: 14px;
    font-family:'OpenSans';
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.8px;
    text-align: center;
    color: #333b46;
    text-transform: uppercase;
}
.close-modal-button{
    border-radius: 50px;
    border-color:transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    transform: translate(50%,-50%);
    background-color: #19bd9a;
    color: white;

}
.button-title{

    font-family: SourceSansPro-Light;
    font-size:20px;
    font-stretch:normal;
    font-style:normal;
    line-height:2;
    letter-spacing:5px;
    text-align:center;
    color:Black;
    text-transform: uppercase;
}
.button-block{
    flex-direction:column;
    margin-top: 30px;
}